<h1>Contact</h1>
<!-- <p>Find me in app/views/simple_pages/contact.html.erb</p> -->
<p>You can contact us here:</p>

<ul>
  <li>Velo Straße 123</li>
  <li>32133 Berlin</li>
  <li>Phone: 030 2562414663</li>
</ul>
