<div class="panel panel-default">
  <div class="panel-body">
    <p id="thanksmessage">Thank you. <i class="far fa-smile"></i> We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
