// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container .center_div {
  margin:0 auto;
  width: 50%

}

.product-reviews {
  width: 70%

}
