// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
   color:white;
   font-family: 'Fahkwang', Helvetica, Arial, sans-serif;
   font-size: 1.5em;
   font-weight: bold;
 }

 h2 {
   text-align: center;
 }

 body{
    padding-top:9%;
  }

footer{
  border-top: 8px white;
  text-align: center;
  color: white;
  margin-bottom: 1.5%;
}

#abouttext{
  text-align: center;
  color:white;
  font-size: 1.2em;
}


.carousel-item{
    // display: block !important;
    text-align: center;
}

.carousel-caption {
    color: darkred;
    font-family: 'Fahkwang', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  text-align:center;
  width: 18rem;
  background-color: light grey;

}
