// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
   color:white;
   font-family: 'Fahkwang', Helvetica, Arial, sans-serif;
   font-size: 1.5em;
   font-weight: bold;
 }

 body{
    padding-top:5%;



  }

footer{
  border-top: 8px white;
  text-align: center;
  color: white;
  margin-bottom: 1.5%;


}
