// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  color: white;
}

.diverselinkslogin:link {
  color: white;
}

.diverselinkslogin:visited {
  color: white;
}
