<!-- the index action shows a listing of all products  -->

<p id="notice"><%= notice %></p>

<h3>Products</h3>

 <%= @test_variable %>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Color</th>
      <th>Price in €</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

<!-- This is a basic Ruby loop. @products is an instance variable that contains an array of several products.
It's been defined in the controller, which is why you can access it. .each  -->
<!-- will loop through all the products and run the code before the -->
<!--  < % end %> for each product that exists. -->
<div class="container-fluid">
  <div class="row" >
    <%= render @products %>  <!-- render _product.html.erb for each product in products (loop) -->
      </div>
      </div>


<br>
<br>
<br>
<br>

<!--   <tbody>
    <%# @products.each do |product| %>
      <tr>
        <td><%#= product.name %></td>
        <td><%#= product.description %></td>
        <td><%#= product.color %></td>
        <td><%#= product.price %></td>
        <td><%#= product.image_url %></td>
        <td><%#= link_to 'Show', product %></td>
        <td><%#= link_to 'Edit', edit_product_path(product) %></td>
        <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>-->

<button class="btn btn-warning btn-sm" type="button"><%= link_to 'New Product', new_product_path %></button>
