<!-- consits of an action that display a view to the user. Edit displays a form for entering data. -->

<h1>New Product</h1>

<%= render 'form', product: @product %>
<!-- The form being referenced here is a type of view called a partial. It’s short for “partial template”, meaning it’s a part of a view that is typically shared across several views-->

<%= link_to 'Back', products_path %>
